---
name: Build
on: push  # yamllint disable-line rule:truthy
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - amd64
          - arm64
          - armhf
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure Qemu support
        uses: docker/setup-qemu-action@v2
      - name: Build snap
        uses: diddlesnaps/snapcraft-multiarch-action@v1.5.0
        with:
          architecture: ${{ matrix.platform }}
        id: snapcraft
      - name: Check snap for errors
        run: |
          sudo snap install review-tools
          snap-review ${{ steps.snapcraft.outputs.snap }}
      - name: Install snap
        run: sudo snap install --dangerous ${{ steps.snapcraft.outputs.snap }}
        if: matrix.platform == 'amd64'
      - name: Save snap as artifact
        uses: actions/upload-artifact@v2
        with:
          name: snap
          path: ${{ steps.snapcraft.outputs.snap }}
