---
name: Build
on: push  # yamllint disable-line rule:truthy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build snap
        uses: snapcore/action-build@v1
        id: snapcraft
        with:
          snapcraft-channel: 7.x/candidate
      - name: Archive logs as artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: /home/runner/.cache/snapcraft/log/*.log
      - name: Check snap for errors
        run: |
          sudo snap install review-tools
          snap-review ${{ steps.snapcraft.outputs.snap }}
      - name: Install snap
        run: sudo snap install --dangerous ${{ steps.snapcraft.outputs.snap }}
